<!DOCTYPE html>

<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Title not defined{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/stylePost.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleRightContent.css') }}"/>
    {% block stylesheets %}{% endblock %}
	<script src="https://kit.fontawesome.com/38280f8a96.js" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</head>

<body>
    <header>
        {{ include('pageElements/header/index.html.twig') }}
    </header>

    {% block body %}{% endblock %}

    <footer>
        {{ include('pageElements/footer/index.html.twig') }}
    </footer>
</body>
</htm>
